#comment_box {
    border: solid 1px #CCC;
    height: 21px;
    width: 250px;
    font-size: 15px;
    color: #999;
    padding-left: 5px;
    vertical-align: bottom
}

#comment_submit {
    border: solid 1px #CCC;
    height: 25px;
    width: 115px;
    color: white;
}