

.head{
    color: white;
    text-align: center
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
   
}
.list-group-item:hover{
    /* background-color: gray; */
    color: black;
}

.notification{
    margin:auto;
    box-shadow:  0px 0px 15px  grey;
}